{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}


{% block css %}

{% endblock %}
{% static 'core/' %}

 <!-- banner section start -->
 <div class="banner_section layout_padding">
    <div class="container">
        <div id="costum_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="furniture_text">Procesadores</h1>
                    <p class="there_text">Contamos con procesadores AMD e Intel</p>

                </div>
                <div class="carousel-item">
                    <h1 class="furniture_text">Tarjetas Graficas</h1>
                    <p class="there_text">Gran variedad de fabricantes</p>

                </div>
                <div class="carousel-item">
                    <h1 class="furniture_text">Placa Madre</h1>
                    <p class="there_text">Gran variedad de fabricantes</p>
                    <img src="{% static 'core/img/Flecha.png' %}" alt="">

                </div>
            </div>
            <a class="carousel-control-prev" href="#costum_slider" role="button" data-slide="prev">
                <i class=""><img src="{% static 'core/img/FlechaChica2.png' %}"></i>
            </a>
            <a class="carousel-control-next" href="#costum_slider" role="button" data-slide="next">
                <i class=""><img src="{% static 'core/img/FlechaChica.png' %}"></i>
            </a>
        </div>
    </div>
</div>
<!-- banner section end -->
      
    </div>
      <!-- header section end -->
      <!-- services section start -->
      <div class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital">Nuestros Productos</h1>
            <p class="many_taital">En nuestra pagina podras encontrar una gran de variedad de productos y calidad </p>
            <div class="services_section2 layout_padding">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'core/img/Proce.png' %}"></div>
                     <h2 class="furnitures_text">Procesadores</h2>
                     <p class="dummy_text">Contamos con distintos modelos provenientes de la marca AMD e Intel</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'core/img/Placa.png' %}"></div>
                     <h2 class="furnitures_text">Placa Madre</h2>
                     <p class="dummy_text">Tenemos un extenso catalogo de Placas Madres de distintos fabricantes y distintos tipos de gamas</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'core/img/Grafica.png' %}"></div>
                     <h2 class="furnitures_text">Tarjetas Graficas</h2>
                     <p class="dummy_text">Se encuentran disponibles varias marcas como ASUS ROG, MSI, GIGABYTE, NVIDIA y RADEON </p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="{% static 'core/img/Disco.png' %}"></div>
                     <h2 class="furnitures_text">Almacenamiento</h2>
                     <p class="dummy_text">Contamos con varios estados de almacenmiento, como el estado solido, duro o tarjetas NVE m.2</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- services section end -->






{% endblock %}

{% block js %}
{% endblock %}