{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}


{% block css %}

{% endblock %}


 <!-- banner section start -->
 <div class="banner_section layout_padding">
    <div class="container">
        <div id="costum_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="furniture_text">FURNITURE</h1>
                    <p class="there_text">There are many variations of passages of Lorem Ipsum available, but
                        the majority have suffered alteration in some fo</p>

                </div>
                <div class="carousel-item">
                    <h1 class="furniture_text">FURNITURE</h1>
                    <p class="there_text">There are many variations of passages of Lorem Ipsum available, but
                        the majority have suffered alteration in some fo</p>

                </div>
                <div class="carousel-item">
                    <h1 class="furniture_text">FURNITURE</h1>
                    <p class="there_text">There are many variations of passages of Lorem Ipsum available, but
                        the majority have suffered alteration in some fo</p>

                </div>
            </div>
            <a class="carousel-control-prev" href="#costum_slider" role="button" data-slide="prev">
                <i class=""><img src="images/left-arrow.png"></i>
            </a>
            <a class="carousel-control-next" href="#costum_slider" role="button" data-slide="next">
                <i class=""><img src="images/right-arrow.png"></i>
            </a>
        </div>
    </div>
</div>
<!-- banner section end -->
      
    </div>
      <!-- header section end -->
      <!-- services section start -->
      <div class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital">our services</h1>
            <p class="many_taital">There are many variations of passages of Lorem Ipsum </p>
            <div class="services_section2 layout_padding">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="images/icon-1.png"></div>
                     <h2 class="furnitures_text">Furnitures</h2>
                     <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="images/icon-2.png"></div>
                     <h2 class="furnitures_text">office</h2>
                     <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="images/icon-3.png"></div>
                     <h2 class="furnitures_text">Home</h2>
                     <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <div class="icon_1"><img src="images/icon-4.png"></div>
                     <h2 class="furnitures_text">badroom</h2>
                     <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the</p>
                     <div class="read_bt_main">
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- services section end -->






{% endblock %}

{% block js %}
{% endblock %}